/* tablet ******************************************************************************/
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .res-status {
    width: 7.4219vw;
    height: 3.125vw;
    font-size: 1.25vw;
    line-height: 2.8125vw;
    border-radius: 0.7813vw;
  }
  .res-status.confirmed {
    border: 0.1563vw solid #43c3f2;
  }
  .res-status.wait {
    border: 0.1563vw solid #959595;
  }
  .res-status.cancel {
    border: 0.1563vw solid #c6499b;
  }
  select option {
    padding: 0.5469vw 0;
  }
  .mt-30 {
    margin-top: 2.3438vw;
  }

  /* 
   * button 
   */

  .res-cta {
    min-width: 5.4688vw;
    height: 2.6563vw;
    padding: 0 1.5625vw;
    font-size: 1.25vw;
    line-height: 2.6563vw;
    border-radius: 0.625vw;
  }
  .res-cta.sm {
    min-width: 7.8125vw;
    height: 3.125vw;
    line-height: 3.125vw;
  }
  .res-cta.md {
    min-width: 13.125vw;
    height: 3.125vw;
    line-height: 3.125vw;
  }
  .res-cta.lg {
    min-width: 13.125vw;
    height: 3.5156vw;
    line-height: 3.5156vw;
    font-size: 1.5625vw;
  }

  /* 
   * input 
   */

  .input-wrap label {
    font-size: 1.4063vw;
  }
  .input-wrap input {
    height: 3.125vw;
    padding: 0 1.7188vw;
    font-size: 1.25vw;
    border-radius: 0.7813vw !important;
  }
  .input-wrap .type-1 input {
    width: 27.3438vw;
    margin: 0 0.4688vw 0 0;
  }
  .input-wrap .type-1 label.ess::before {
    width: 0.625vw;
    height: 0.625vw;
    margin-right: 0.625vw;
    border-radius: 100%;
    background: #c64a9b;
  }
  .input-wrap .input-box + .input-box {
    margin-top: 0.9375vw;
  }
  .check-wrap input {
    width: 0.0781vw;
    height: 0.0781vw;
    margin: -0.0781vw;
  }
  .check-wrap label::before {
    width: 1.9531vw;
    height: 1.9531vw;
    margin-right: 1.0938vw;
    line-height: 1;
    border-radius: 0.1563vw;
  }
  .check-wrap [type='checkbox']:focus + label::before {
    outline: 0.1563vw solid #000;
    border-radius: 0.3125vw;
  }
  .radio-wrap input {
    width: 0.0781vw;
    height: 0.0781vw;
    margin: -0.0781vw;
  }
  .radio-wrap label::before {
    width: 1.9531vw;
    height: 1.9531vw;
    margin-right: 1.0938vw;
  }

  /* 
   * popup 
   */

  .popup-wrap .inner-popup {
    width: 39.0625vw;
    padding: 2.5vw 2.3438vw 3.125vw;
    border: 0.7813vw solid #43c3f2;
    border-radius: 2.3438vw;
  }
  .popup-wrap .tit {
    margin-bottom: 1.7969vw;
    padding: 0 0 1.7188vw 2.7344vw;
    font-size: 1.7188vw;
    border-bottom: 0.0781vw solid #00a1dd;
    background: url(../images/ico_popup.jpg) 0 0.5469vw no-repeat;
  }
  .popup-wrap .desc {
    margin-top: 1.5625vw;
    font-size: 1.25vw;
  }
  .popup-wrap .sub-tit {
    font-size: 1.4063vw;
  }
  .popup-wrap .cancel-name {
    margin-top: 0.7813vw;
    font-size: 1.4063vw;
  }
  .popup-wrap .desc {
    font-size: 1.25vw;
  }
  .popup-wrap .table-wrap {
    margin-top: 1.1719vw;
    padding: 2.5vw;
    border-radius: 1.5625vw;
  }
  .popup-wrap dl + dl {
    margin-top: 1.0938vw;
    padding-top: 1.0938vw;
    border-top: 0.0781vw solid #ddd;
  }
  .popup-wrap dt,
  .popup-wrap dd {
    font-size: 1.4063vw;
  }
  .popup-wrap dt {
    width: 7.4219vw;
  }
  .popup-wrap .text-wrap {
    font-size: 1.25vw;
  }
  .popup-wrap .text-wrap p {
    margin-bottom: 1.25vw;
    padding-left: 1.1719vw;
  }
  .popup-wrap .text-wrap p + div {
    margin-bottom: 1.25vw;
  }
  .popup-wrap .text-wrap p::before {
    margin-left: -0.625vw;
  }
  .popup-wrap .button-wrap {
    margin-top: 1.9531vw;
  }
  .popup-wrap .button-wrap button + button {
    margin-left: 0.7813vw;
  }

  /* 
  * layout 
  */
  .root-wrapper {
    font-size: 1.25vw;
  }
  .inner-layout {
    max-width: 100vw;
  }
  .root-wrapper {
    font-size: 1.25vw;
  }

  /* 
  * header 
  */

  .header {
    height: 8.125vw;
    padding: 0 1.875vw;
  }
  .header h1 {
    max-width: 18.3594vw;
  }
  .btn-check-cancel {
    font-size: 1.4063vw;
  }
  .header .lang-element .btn_lang {
    width: 10.625vw;
    height: 4.2188vw;
    margin-left: 1.7188vw;
    padding-left: 2.8125vw;
    font-size: 1.4063vw;
    border-radius: 0.7813vw;
    background: #f5f5fc url('../images/arrow_2.gif') calc(100% - 1.7188vw)
      center no-repeat;
    background-size: 0.8594vw auto;
  }
  .header .lang-element .lang-open-lst {
    top: 4.6875vw;
    padding: 0.7031vw;
    width: 17.1875vw;
    border: 0.0781vw solid #ddd;
  }
  .header .lang-element .lang-open-lst li {
    height: 2.9688vw;
    margin-bottom: 0.1563vw;
    padding: 0 0.7813vw;
    line-height: 2.9688vw;
  }

  /* 
  * top visual 
  */

  .top-visual .inner-layout {
    height: 26.0938vw;
    background: url('../images/img_kv.jpg') 50% 50% no-repeat;
    background-size: auto 26.0938vw;
  }
  .top-visual .text-wrap {
    padding-left: 0.7813vw;
    font-size: 3.2813vw;
  }
  .top-visual .text-wrap span {
    font-size: 3.9063vw;
    line-height: 1.9;
    letter-spacing: 0.0781vw;
  }

  /* 
  * contents 
  */

  .top-button-wrap {
    max-width: 100.0000vw;
    padding: 5.0781vw 3.5938vw 0;
  }
  .top-button-wrap .button-box {
    height: 4.2188vw;
    line-height: 3.9063vw;
    background-size: 38.3594vw auto;
  }
  .top-button-wrap.res-org .button-box {
    background-size: 38.3594vw auto;
  }
  .top-button-wrap .button-box button {
    width: 17.9688vw;
    font-size: 1.5625vw;
  }
  .top-button-wrap .text-wrap {
    margin-top: 1.5625vw;
    font-size: 1.2500vw;
  }

  .res-contents.res-step-1,
  .res-contents.res-step-2 {
    padding-top: 2.7344vw;
  }
  .res-contents {
    max-width: 100vw;
    padding: 5.0781vw 3.5938vw 3.4375vw;
  }
  .res-contents + .res-contents {
    margin-top: 1.7188vw;
  }
  .res-confirm {
    padding: 7.8125vw 7.0313vw 8.5938vw;
  }
  .res-contents .sub-tit {
    font-size: 3.9063vw;
  }
  .res-contents .sub-desc {
    margin-top: 1.5625vw;
    font-size: 1.4063vw;
    line-height: 1.5;
  }

  /* 
  * left, right content
  */

  .res-contents .left-content {
    width: 23.0469vw;
  }
  .res-contents.res-step-2 .left-content {
    width: 35.1563vw;
  }
  .res-contents .top-tit {
    height: 4.6875vw;
    font-size: 1.5625vw;
  }
  .res-contents .top-tit h2 {
    font-size: 1.5625vw;
  }
  .res-contents .top-tit h2 + .top-desc {
    margin-left: 1.875vw;
    font-size: 1.25vw;
  }
  .res-contents .top-tit h2 + .top-desc::before {
    width: 0.625vw;
    height: 0.625vw;
    margin-right: 0.625vw;
  }
  .res-contents .left-content .left-inner {
    padding: 2.0313vw;
    border-radius: 1.25vw;
  }
  .res-contents .left-content .left-inner .item-box {
    top: 6.0938vw;
    left: 0.3125vw;
    right: 0.3125vw;
  }
  .res-contents .left-content .left-inner .item-box dd {
    font-size: 1.2500vw;
  }
  .res-contents .left-content .left-inner .item-box label {
    font-size: 1.2500vw;
  }
  .res-contents .left-content .left-inner .item-box .select-list {
    margin-top: 1.5625vw;
  }
  .res-contents .left-content .left-inner .item-box .select-wrap select {
    background: #f5f6fa url(../images/arrow_1.gif) calc(100% - 1.0938vw) center no-repeat;
  }
  .res-contents .left-content .left-inner .item-box .select-wrap + .select-wrap {
    margin-top: 0.9375vw;
  }
  .res-contents .left-content .btn-left-bottom {
    margin-top: 1.5625vw;
  }
  .res-contents .left-content .top-wrap {
    margin-bottom: 1.1719vw;
    padding-bottom: 1.5625vw;
    border-bottom: 0.0781vw solid #e5e5e5;
  }
  .res-contents .left-content .top-wrap-inner {
    height: 2.6563vw;
  }
  .res-contents .list-scroll-wrap {
    width: calc(100% + 0.7813vw);
    height: 57.8125vw;
  }
  .res-contents .list-scroll-wrap .item-list {
    padding-bottom: 2.7344vw;
  }
  .res-contents .list-scroll-wrap .btn-left-item {
    margin-top: 1.9531vw;
    padding-right: 0.7813vw;
    font-size: 1.4063vw;
  }
  .res-contents .form-container .left-inner {
    width: 35.1563vw;
  }
  .res-contents .form-container .right-inner {
    margin-left: 1.5625vw;
  }
  .res-contents .form-container .item-box {
    padding: 2.0313vw;
    font-size: 1.4063vw;
    border-radius: 1.25vw;
  }
  .res-contents .form-container .item-box + .item-box {
    margin-top: 1.5625vw;
  }
  .res-contents .form-container .item-box .text-type dt {
    width: 7.8125vw;
  }
  .res-contents .ess:before {
    width: 0.625vw;
    height: 0.625vw;
    margin-right: 0.625vw;
  }
  .res-contents .form-container .item-box .select-list {
    margin-top: 2.7344vw;
    font-size: 1.25vw;
  }
  .res-step-2 .select-list .select-wrap {
    padding-left: 1.1719vw;
  }
  .res-step-2 .select-list .select-wrap + .select-wrap {
    margin-top: 1.8750vw;
  }
  .res-step-2 .select-list .select-wrap .inner {
    width: 9.6875vw;
  }
  .res-step-2 .select-wrap .inner select {
    height: 3.125vw;
  }
  .res-step-2 .res-info {
    margin-top: 1.7188vw;
  }



  .res-step-2 .res-info .input-wrap,
  .res-step-2 .res-info .select-wrap {
    margin-bottom: 0.9375vw;
    margin-right: 0;
  }
  .res-step-2 .res-info .input-wrap .select-wrap {
    width: 9.3750vw;
    height: 3.1250vw;
    margin: 0 0.7813vw 0 1.2500vw;
  }
  .res-step-2 .res-info .input-wrap .select-wrap + input {
    width: 31.6406vw;
  }
  .res-step-2 .res-info .input-wrap label,
  .res-step-2 .res-info .select-wrap span:nth-child(1),
  .res-step-2 .res-info .select-wrap label,
  .res-step-2 .res-info .input-wrap .type-1 .space {
    width: 10.1563vw;
    padding-left: 1.2500vw;
  }
  .res-step-2 .res-info .ess {
    padding-left: 0 !important;
  }
  .res-step-2 .res-info .select-wrap span:nth-child(2) {
    
    padding-left: 0.9375vw;
    font-size: 1.2500vw;
    
  } 
  .res-step-2 .res-info .select-wrap span:nth-child(2),
  .res-step-2 .res-info .input-wrap .type-7,
  .res-step-2 .res-info .input-wrap input,
  .res-step-2 .res-info .input-wrap textarea,
  .res-step-2 .res-info .select-wrap select {
    width: 41.7969vw;
    font-size: 1.2500vw;
  }
  .res-step-2 .res-info .input-wrap .type-7 input {
    width: 27.8125vw;
    margin-right: 0.7813vw;
  }






  .res-step-2 .res-info .input-wrap textarea {
    height: 6.0156vw;
    padding: 0.9375vw;
  }
  .res-step-2 .res-info .input-wrap .type-1 input {
    width: 27.9688vw;
    background: #fff;
  }
  .res-step-2 .res-info .input-wrap .type-2 input {
    width: 17.6563vw;
    margin-right: 0.7813vw;
    background: #fff;
  }
  .res-step-2 .tit-box h3 {
    margin-top: 1.5625vw;
    font-size: 1.4063vw;
  }
  .res-contents .guide-box {
    margin-top: 1.5625vw;
    padding: 1.1719vw 1.1719vw 2.3438vw;
    font-size: 1.4063vw;
    line-height: 1.7;
    border-radius: 1.1719vw;
  }
  .res-step-2 .guide-box + .tit-box {
    margin-top: 3.9063vw;
  }
  .res-step-2 .guide-box .bg-box {
    margin: 1.1719vw 1.25vw;
    padding: 1.0938vw;
    border-radius: 0.7813vw;
  }
  .res-step-2 .guide-box .res-scroll {
    height: 11.7188vw;
    font-size: 1.25vw;
  }
  .res-step-2 .guide-box .agreement-wrap {
    margin-top: 1.9531vw;
    padding: 0 5.4688vw 0 2.3438vw;
  }
  .res-step-2 .guide-box .agreement-wrap .input-wrap + .input-wrap {
    margin-left: 3.125vw;
  }
  .res-step-2 .guide-box .agreement-wrap .input-wrap label {
    margin-right: 1.1719vw;
  }
  .res-step-2 .guide-box .agreement-wrap .input-wrap input {
    width: 19.5313vw;
  }
  .res-step-2 .guide-box .privacy-wrap {
    margin-top: 1.9531vw;
    padding: 0 5.4688vw 0 2.3438vw;
  }
  .res-step-2 .guide-box .privacy-wrap .radio-wrap + .radio-wrap {
    margin-top: 1.7969vw;
    padding-left: 1.1719vw;
  }
  .res-step-2 .guide-box .privacy-wrap .tit {
    margin-right: 3.4375vw;
  }
  .res-step-2 .guide-box .privacy-wrap .input-wrap + .input-wrap {
    margin-top: 1.9531vw;
  }
  .res-step-2 .guide-box .privacy-wrap label {
    margin-right: 3.4375vw;
  }
  .res-step-2 .guide-box .privacy-wrap .space {
    padding-left: 1.1719vw;
  }
  .res-step-2 .guide-box.privacy {
    padding: 2.3438vw;
  }
  .res-step-2 .guide-box.privacy .pri-txt::after {
    width: 1.1719vw;
    height: 1.1719vw;
    margin: 1.0156vw 0 0 0.3906vw;
  }
  .res-step-2 .res-table {
    padding: 3.2813vw;
  }
  .res-step-2 .res-table table {
    font-size: 1.25vw;
    border: 0.0781vw solid #00a1dd;
  }
  .res-step-2 .res-table th,
  .res-step-2 .res-table td {
    padding: 1.25vw 2.3438vw;
    border-top: 0.0781vw solid #00a1dd;
    border-left: 0.0781vw solid #00a1dd;
  }
  .res-step-2 .res-table .check-wrap {
    margin-top: 1.9531vw;
  }
  .res-step-2 .res-table table .check-wrap label::before {
    margin: 0 auto 0.7813vw;
  }
  .res-step-2 .button-wrap {
    margin-top: 3.4375vw;
  }
  .res-step-2 .button-wrap .res-cta + .res-cta {
    margin-left: 1.4063vw;
  }

  /* res-complete */
  .res-info-wrap {
    margin: 5.9375vw 3.4375vw 0;
    font-size: 1.4063vw;
    border-top: 0.1563vw solid #43c3f2;
    border-bottom: 0.1563vw solid #43c3f2;
  }
  .res-info-wrap dl {
    height: 4.5313vw;
    padding: 0 1.1719vw;
  }
  .res-info-wrap .col2 {
    border-top: 0.0781vw solid #43c3f2;
    border-bottom: 0.0781vw solid #43c3f2;
  }
  .res-info-wrap dl + dl {
    border-top: 0.0781vw solid #43c3f2;
  }
  .res-info-wrap dt {
    width: 10.1563vw;
  }
  .res-info-wrap .res-status-wrap .res-status {
    max-width: 7.5000vw;
  }
  .res-info-wrap .res-status-wrap .res-status-txt {
    margin-left: 0.7813vw;
    font-size: 1.0938vw;
  }
  .res-info-wrap + .res-cta {
    margin-top: 3.4375vw;
  }
  .type-view .guide-box {
    margin-top: 4.6875vw;
    padding: 2.7344vw 3.9063vw;
  }
  .type-view .guide-box h3 {
    font-size: 1.4063vw;
  }
  .type-view .guide-box .list-inner {
    margin-top: 1.9531vw;
    font-size: 1.25vw;
  }
  .type-view .guide-box .list-inner > div {
    margin-top: 0.7813vw;
  }
  .type-view .guide-box .list-inner .res-status {
    margin-right: 1.3281vw;
  }

  /* res-list */
  .res-list {
    padding: 5.0781vw 7.0313vw 9.375vw;
  }
  .res-list .res-list-table {
    margin-top: 5.4688vw;
    border-bottom: 0.1563vw solid #43c3f2;
  }
  .res-list .res-list-table .list-count {
    padding-bottom: 0.7813vw;
  }
  .res-list .res-list-table th,
  .res-list .res-list-table td {
    height: 4.5313vw;
  }
  .res-list .res-list-table thead th {
    font-size: 1.4063vw;
    border-top: 0.1563vw solid #43c3f2;
  }
  .res-list .res-list-table td {
    font-size: 1.25vw;
    border-top: 0.0781vw solid #43c3f2;
  }
  .res-list .res-list-table .txt-subject {
    width: 20.6250vw;
  }

  /* res-detail */
  .res-detail {
    padding: 5.0781vw 7.0313vw 9.375vw;
  }
  .res-detail .h-auto > dt {
    margin-top: 1.1719vw;
  }
  .res-detail .h-auto > dd {
    padding: 1.1719vw 0;
  }
  .res-detail .h-auto .bg-box {
    /* width: 42.5%; */
    /* margin-top: 1.5625vw; */
    padding: 1.0938vw;
    border-radius: 0.7813vw;
  }
  .res-detail .res-manager-desc {
    padding: 1.0938vw;
  }
  .res-detail .res-manager .desc-box.image-type img {
    max-height: 15.0000vw;
  }
  .res-detail .h-auto .bg-box dl + dl {
    border-top: 0.0781vw solid #e8e5e5;
  }
  .res-detail .h-auto .bg-box dd {
    margin-left: 3.125vw;
  }
  .res-detail .h-auto .num-info {
    width: 50%;
    margin-top: 1.5625vw;
    padding: 1.0938vw;
    line-height: 2;
  }
  .res-detail .request-box textarea {
    height: 19.5313vw;
    padding: 1.5625vw;
  }
  .res-detail .request-box .button-wrap {
    margin-top: 1.1719vw;
  }
  .res-detail .button-bottom {
    margin-top: 4.6875vw;
    gap: 1.5625vw;
  }
  .res-detail .button-bottom + .guide-box {
    margin-top: 6.0156vw;
  }
  .res-detail .guide-wrap .bg-box,
  .res-detail .guide-table .bg-box {
    padding: 3.2813vw 3.5156vw;
  }
  .res-detail .guide-table table {
    font-size: 1.25vw;
    border: 0.0781vw solid #e8e5e5;
  }
  .res-detail .guide-table th,
  .res-detail .guide-table td {
    padding: 1.25vw 2.3438vw;
    border-top: 0.0781vw solid #e8e5e5;
    border-left: 0.0781vw solid #e8e5e5;
  }
  .res-detail .res-manager {
    gap: 2.6563vw;
  }

  /* right */
  .res-contents .right-content {
    padding-left: 2.1875vw;
  }
  .res-contents .status-box>div {
    font-size: 1.2500vw;
  }
  .res-contents .status-box>div>span {
    font-size: 1.0938vw;
  }
  .res-contents .status-box>div + div {
    margin-left: 0.7813vw;
  }
  .res-contents .status-box>div::before {
    width: 1.0938vw;
    height: 1.0938vw;
    margin-right: 0.4688vw;
  }
  .res-contents .status-box>span {
    font-size: 1.2500vw;
  }
  .res-contents .status-box>span + span {
    margin-left: 0.7813vw;
  }
  .res-contents .status-box>span::before {
    width: 1.0938vw;
    height: 1.0938vw;
    margin-right: 0.4688vw;
  }

  /*
  *  sub contents
  */

  .res-confirm .form-wrap {
    margin: 5.4688vw 0 3.125vw;
    padding: 5.4688vw 0;
    border-top: 0.1563vw solid #43c3f2;
    border-bottom: 0.1563vw solid #43c3f2;
  }
  .res-confirm .form-wrap .type-3 .select-wrap .inner,
  .res-confirm .form-wrap .type-3 .select-wrap select {
    width: 100%;
    height: 3.1250vw;
    border-radius: 0.7813vw;
  }
  .res-confirm .form-wrap .type-3 input {
    width: 14.8438vw;
    margin: 0 0.4688vw 0 0;
  }
  .res-confirm .space {
    width: 8.125vw;
    margin-right: 2.3438vw;
  }
  .res-confirm .form-wrap .error-type-txt {
    width: 70%;
    font-size: 1.2500vw;
  }

  /* 
  * selectbox
  */

  .select-wrap {
    margin-right: 0.4688vw;
    font-size: 1.4063vw;
  }
  .select-wrap select {
    min-width: 5.4688vw;
    height: 2.6563vw;
    padding: 0 0 0 1.1719vw;
    font-size: 1.25vw;
    background: #fff url('../images/arrow_1.gif') calc(100% - 1.0938vw) center
      no-repeat;
    background-size: 0.7031vw;
    border-radius: 0.625vw;
  }
  .res-step-1 .top-wrap .select-wrap select {
    background: #fff url('../images/arrow_1.gif') calc(100% - 0.625vw) center
      no-repeat;
  }
  .select-wrap select::after {
    right: 0.7813vw;
  }

  /* 
  * calendar 
  */

  .calendar-head {
    height: 4.2969vw;
    font-size: 1.7188vw;
  }
  .calendar-head .cal-txt {
    margin-bottom: 0.7813vw;
    font-size: 1.0938vw;
  }
  .calendar-head .btn-month {
    width: 1.4844vw;
    height: 1.4844vw;
    /* margin-top: 0.2344vw; */
  }
  .calendar-wrap .cell {
    width: calc(100% / 7);
    padding: 0.2344vw;
    line-height: 2.7344vw;
    font-size: 1.25vw;
  }
  .calendar-wrap .cell > div {
    height: 11.7188vw;
    border-radius: 0.9375vw;
  }
  .calendar-wrap .cell .res-header {
    padding: 0 1.5625vw 0 1.1719vw;
    font-size: 1.0938vw;
  }
  .calendar-wrap .cell .res-list {
    gap: 0.3906vw;
    margin-top: 0.9375vw;
    padding: 0 0.7813vw;
  }
  .calendar-wrap .cell .res-list button,
  .calendar-wrap .cell .res-list span {
    padding: 0.0781vw;
    line-height: 1;
    font-size: 1.25vw;
  }
  .calendar-wrap .cell .closed-days {
    height: 7.8125vw;
  }

  /* 
  * footer 
  */

  .footer {
    margin-top: 1.3281vw;
    padding-bottom: 14.5313vw;
    font-size: 1.25vw;
  }
  .footer .inner-layout {
    padding: 1.3281vw 2.1094vw 1.7188vw;
  }
  .footer .menu-wrap {
    margin-bottom: 1.25vw;
    padding-bottom: 1.25vw;
    border-bottom: 0.0781vw solid #e5e5e5;
  }
  .footer .menu-wrap a {
    font-size: 1.25vw;
  }
  .footer .foot-menu li + li::before {
    width: 0.0781vw;
    height: 1.0156vw;
    margin: 0 0.5469vw 0 0.7813vw;
  }
  .footer .share-menu li {
    width: 2.0313vw;
  }
  .footer .share-menu li + li {
    margin-left: 1.4063vw;
  }
  .footer .copy {
    margin-top: 0.7813vw;
    font-size: 0.9375vw;
  }
}
